<!-- -*- mode: XML -*- -->
<launch>

 <node
    name="motor_interface"
    pkg="koko_hardware_drivers"
    type="BLDCDriver.py"
    args="/dev/ttyUSB0"
    ns="koko_hardware"
    output="screen"
   />

  <rosparam file="$(find koko_hardware_drivers)/config/link_parameters.yaml" command="load"/>

</launch>
