<!-- -*- mode: XML -*- -->
<launch>

 <node
    name="lift_motor_interface"
    pkg="koko_hardware_drivers"
    type="koko_hardware_drivers_node"
    args="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A506NO9F-if00-port0" />
<!--args="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AI057K87-if00-port0" />-->


</launch>
