<launch>
  <arg name="side" doc="Side of the robot: left or right" />

  <group ns="$(arg side)_arm" clear_params="true">

    <!-- Use global URDF -->
    <remap
      from="robot_description"
      to="/robot_description" />

    <!-- Load configuration -->
    <rosparam
      file="$(find blue_bringup)/config/robot_parameters_$(arg side).yaml"
      command="load" />

    <!-- Start communication with the motor drivers -->
    <node
      name="motor_interface"
      pkg="blue_hardware_drivers"
      type="bldc_driver.py"
      ns="blue_hardware"
      required="true"
      output="screen" />

    <!-- Start the control stack -->
    <include
      file="$(find blue_bringup)/config/controllers.xml"
      pass_all_args="true" />
    <node
      name="blue_controller_manager"
      pkg="blue_controller_manager"
      type="blue_controller_manager"
      output="screen" />
    <node name="blue_controller_spawner"
      pkg="blue_controller_manager"
      type="spawner.py"
      output="screen">
      <rosparam param="start_controllers">
        - blue_controllers/joint_state_controller
        - blue_controllers/gripper_controller
      </rosparam>
      <rosparam param="stop_controllers">
        - blue_controllers/cartesian_pose_controller
        - blue_controllers/joint_position_controller
      </rosparam>
    </node>

    <!-- Joint calibration -->
    <node
      name="hardstop_calibrator"
      pkg="blue_bringup"
      type="hardstop_calibrate"
      output="screen" />

    <!-- VR teleop nodes -->
    <!-- TODO: move these to a launch file in the vive package -->
    <node
      name="vive_pose_ik"
      pkg="blue_kinematics"
      type="ik_vive_posture" />
    <node
      name="vive_gripper"
      pkg="blue_vive"
      type="vive_teleop.py" />

  </group>
</launch>
