<launch>
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find blue_descriptions)/robots/blue_full.urdf.xacro'" />

  <group ns="right_arm">
    <remap
      from="robot_description"
      to="/robot_description" />
    <node
      name="accel_calib"
      pkg="blue_bringup"
      type="accel_calibration.py"
      output="screen" />
    <rosparam
      file="$(find blue_bringup)/config/robot_parameters_right.yaml"
      command="load" />
  </group>
</launch>
