<launch>

  <arg name="param_file" />

  <arg name="config_side" value="$(side)"/>

  <rosparam
    file="$(arg param_file)"
    command="load"
    ns="right_arm/blue_hardware" />


  <include file="$(find blue_bringup)/launch/include/run.launch.xml">
    <!-- <arg name="configuration" value="right" /> -->
    <arg name="configuration" value="$(config_side)" />
  </include>

</launch>
