<launch>

  <!-- Run core control processes -->
  <include file="$(find blue_bringup)/launch/_single_arm.launch">
    <arg name="side" value="left" />
  </include>

  <!-- Accept connections from our Python API via rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node name="tf2_web_republisher"
    pkg="tf2_web_republisher"
    type="tf2_web_republisher" />

</launch>
