<launch>
  <arg name="param_file" />
  <arg name="version" default="2" doc="1 or 2" />
  <arg name="rosbridge_port" default="9090" doc="port for rosbridge_server" />

  <rosparam
    file="$(arg param_file)"
    command="load" />

  <include
    file="$(find blue_bringup)/launch/include/run.launch.xml">
    <arg name="configuration" value="right" />
    <arg name="version" value="$(arg version)" />
    <arg name="rosbridge_port" value="$(arg rosbridge_port)" />
  </include>
</launch>
