<launch>
  <arg name="param_file" />
  <arg name="version" default="2" doc="1 or 2" />
  <arg name="on_stand" default="false" doc="Is the arm on two arm stand? This will set the base_link frame to the center of the stand" />

  <rosparam
    file="$(arg param_file)"
    command="load" />

  <include
    file="$(find blue_bringup)/launch/include/run.launch.xml">
    <arg name="configuration" value="right" />
    <arg name="version" value="$(arg version)" />
    <arg name="on_stand" value="$(arg on_stand)" />
  </include>
</launch>
