<launch>
  <arg
    name="gui"
    default="True" />
  <param 
    name="use_gui"
    value="$(arg gui)" />
  <rosparam file="$(find koko_bringup)/config/control_5dof.yaml" command="load"/>
  <node
    name="koko_controller_manager"
    pkg="koko_control"
    type="koko_controller_manager_independent"
    ns="DOF" /> 
</launch>
