<launch>

  <include
    file="$(find koko_bringup)/launch/left_arm.launch" />

  <!-- Start rviz for visualization/debugging -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find koko_description_base)/urdf.rviz" />

  <!-- [> GUI <] -->
  <node
    name="gui_for_debugging"
    pkg="rqt_gui"
    type="rqt_gui"
    output="screen"/>
</launch>
