<launch>

  <include
    file="$(find koko_bringup)/launch/right_arm.launch" />

  <!-- Start rviz for visualization/debugging -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find koko_description_base)/urdf.rviz" />

  <!-- [> GUI <] -->
  <node
    name="gui_for_debugging"
    pkg="rqt_gui"
    type="rqt_gui"
    output="screen"/>

  <!-- [< Vive teleop>] -->
  <node name="vive_teleop"
    pkg="koko_vive"
    type="vive_teleop.py" />

  <!-- <node name="rviz_teleop" -->
    <!-- pkg="koko_misc" -->
    <!-- type="visual_controller" /> -->

  <node name="pose_to_joint"
    pkg="koko_kinematics"
    type="pose_target_posture"
    output="screen"/>

</launch>
