<launch>

  <group ns="right_arm" clear_params="true">

    <!-- Broadcast our joint states as TFs -->
    <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="state_publisher" />

    <!-- Load URDFs -->
    <param name="robot_description"
      textfile="$(find koko_description_sevendof_kin)/robots/koko_description_sevendof_kin.urdf" />
    <param
      name="robot_dyn_description"
      textfile="$(find koko_description_sevendof_dyn)/robots/koko_description_sevendof_dyn.urdf"
      />

    <!-- Load configuration -->
    <rosparam
      file="$(find koko_bringup)/config/right_robot_parameters.yaml"
      command="load"
      />
    <rosparam
      file="$(find koko_bringup)/config/controllers.yaml"
      command="load"
      />

    <include
      file="$(find koko_bringup)/launch/single_arm_core.launch"
      />

    <!-- <include -->
    <!--   file="$(find koko_bringup)/launch/right_arm.launch" /> -->

    <!-- Start rviz for visualization/debugging -->
    <node
      name="rviz"
      pkg="rviz"
      type="rviz" />
      <!-- args="-d $(find koko_description_base)/urdf.rviz" /> -->

    <!-- [> GUI <] -->
    <node
      name="gui_for_debugging"
      pkg="rqt_gui"
      type="rqt_gui"
      output="screen"/>

    <!-- [< Vive teleop>] -->
    <node name="vive_teleop"
      pkg="koko_vive"
      type="vive_teleop.py"
      />

    <!-- <node name="rviz_teleop" -->
      <!-- pkg="koko_misc" -->
      <!-- type="visual_controller" /> -->

    <node name="pose_to_joint"
      pkg="koko_kinematics"
      type="pose_target_posture"
      output="screen"
      />

  </group>
</launch>
