<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />


  <!-- Load the URDF into the ROS Parameter Server -->
  <param
    name="robot_description"
    textfile="$(find koko_gazebo)/robots/6dof_dyn2.urdf" />


  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model koko_gazebo -param robot_description"/>

  <!--include
    file="$(find pr2_controller_manager)/controller_manager.launch" /-->


</launch>
