<launch>
<rosparam file="$(find koko_gazebo)/config/6dof_control.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
output="screen" ns="/DOF" args="simple_controller joint_state_controller"/>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/DOF/joint_states" />
</node>

</launch>
