<launch>
  <include
    file="$(find koko_gazebo)/launch/koko_gazebo_sevendof.launch" />
    
  <include 
    file="$(find koko_gazebo)/launch/gazebo_controller_7dof.launch" />

 <arg
    name="model" />

  <arg
    name="gui"
    default="True" />

  <param
    name="robot_dyn_description"
    textfile="$(find koko_gazebo)/robots/koko_description_sevendof_kin.urdf" />

  <param
    name="use_gui"
    value="$(arg gui)" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find koko_gazebo)/urdf.rviz" />

  <node
    name="visual_controller"
    pkg="koko_misc"
    type="visual_controller"/>

  <node 
    pkg="rostopic" 
    type="rostopic" 
    name="rostopic" 
    args="pub /command_label std_msgs/Int32 25"/>

  <node
    name="pose_target"
    pkg="koko_gazebo"
    type="pose_target_simulation" />

  <node name="pos_plot"
    pkg="rqt_plot"
    type="rqt_plot"
    args="/koko_gazebo/simple_controller/command/data[2]" />


</launch>
